@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Code+Pro&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
   
}

nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color:#003459 ;
    padding: 0;
    margin: 0;
    font-size: 22px;
    padding: 0;
    margin: 0;
    
}

header {
    background-color: darkgray;
}
nav a:hover {
    background-color: white;
}

.book, .join {
    background-color: grey;
    text-decoration: none;
    color: gold;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.book:hover, .join:hover {
    background-color: lightblue;
    color: black;
}

#background {
    background-color: white;
}

.msg {
    background-color: white;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: darkgrey;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: black;
    font-family: 'Bebas Neue', cursive;
/*font-family: 'Source Code Pro', monospace;*/
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: black
}

.msg h2 {
    color: black;
}

.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
}

footer a {
    color: blue;
    text-decoration: none;
    
}

footer a:hover {
    color: gold;
}

.logo, .icon{
    width: 80px;
}

#hero-img {
    width: 100%;
}

h2 {
    margin: 0;

}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}